[2018-07-24 16:56] kc5nra opened #11 "Add T3-rtx timer and congestion control"
https://tools.ietf.org/html/rfc4960#section-6.3.3

[2018-12-20 06:09] Sean-Der opened #3 "Move SCTP to `pions/sctp` and implement E2E testing"
SCTP should be in its own repo, and we should get some good testing like `dtls`

Some of the tests are here https://github.com/pions/webrtc/pull/294/files#diff-2d3fd3b7fe32b830d790a48d57c911f4R23

[2018-12-24 12:45] backkem opened #1 "Setup CI"
Copy the configuration from pions/webrtc.

[2018-12-24 12:46] backkem opened #2 "Docs: Add basics"
Copy the style from pions/webrtc including readme, license, ... .

[2018-12-24 13:14] #2 closed

[2019-01-09 13:20] backkem opened #4 "Implement stream RE-CONFIG"
https://tools.ietf.org/html/rfc6525

Required by pions/datachannel#4.

[2019-01-14 23:12] #4 closed

[2019-01-19 22:19] jech opened #6 "Incoming payloads are silently truncated to 8kB"
If incoming payloads are larger than 8kB, they are silently truncated, which causes loss of data.  I believe that there are two issues here:

  * there is no error indication when a packet is truncated;
  * 8kB is too small in any cases (the protocol that I'm trying to implement uses slightly over 16kB).

A simple workaround is to increase the value of `receiveMTU` in `rtcpeerconnection.go`¸ but t

[2019-01-20 00:29] jech opened #17 "Panic in handleChunk"
I just got me a panic.

    Failed to accept data channel: The association is closed
    panic: close of closed channel

    goroutine 148 [running]:
    github.com/pions/sctp.(*Association).handleChunk(0xc0000a68c0, 0xc000173f40, 0x93ee40, 0xc00012afc0, 0x0, 0x0, 0x0, 0x0, 0x0)
            /home/jch/go/src/github.com/pions/sctp/association.go:769 +0x427
    github.com/pions/sctp.(*Association).ha

[2019-01-20 15:34] jech opened #18 "Don't abort associations on unexpected Ack"
Am I reading RFC 4960 wrong?

[code]

[2019-01-21 19:13] #1 closed

[2019-01-23 15:58] kc5nra opened #12 "Add simple PMTU calculation with heartbeats"
Calculate the maximum MTU size that can travel the entire path machine1<->machine2.

The easiest way is probably to craft heartbeat messages starting at the maximum value until they are successfully returned.  Potentially listen to ICMP PacketTooBig

[2019-01-23 18:49] #3 closed

[2019-01-28 22:51] enobufs opened #14 "Implement congestion control"

[2019-02-11 07:58] Sean-Der opened #15 "Dial/Server block forever even if Stop is called"
Currently Dial/Server will block until the association is done.

If the association never finish and close is called everything will deadlock.

[2019-02-11 08:15] #15 closed

[2019-02-13 18:50] enobufs commented on #11
One consideration:
getPayloadDataToSend() method (will land on master soon) has time.Now() inside it. We should put it outside to make testing easier.

[2019-02-13 19:27] kc5nra commented on #11
As well as time.Since

[2019-02-18 22:03] enobufs commented on #18
You are right. @backkem pointed that out earlier.  We should be able to remove ignore them silently as the spec says.

[2019-02-20 17:31] backkem opened #19 "chunkPayloadData/payloadQueue race"
I'm hitting the race below trying to upgrade [backkem/go-libp2p-webrtc-direct](https://github.com/backkem/go-libp2p-webrtc-direct) to the latest pions/webrtc. The problem seems to be that the chunkPayloadData buffers are passed around to multiple goroutines and accessed concurrently. I haven't quite figured it out the details or solution yet thought.

[code]

[2019-02-20 18:04] enobufs commented on #19
[code]
With a quick look, this line does not seem to access any resource...  I wonder if you are using the lastest sctp (v1.4.0)...

[2019-02-20 18:07] backkem commented on #19
Oh, sorry. I added some debug statements. Will clean and post a new trace.

[2019-02-20 18:13] backkem commented on #19
Updated.

[2019-02-20 22:54] enobufs commented on #19
It's really hard to tell what is going on just by looking at the warning.

I ran [my code](https://gist.github.com/enobufs/7d8e2996022658b31c04019afac91393) with the latest pions/webrtc but I do not see the race.

If you could tell me how to reproduce the error, I can try it out.

One thing I am suspecting now is, when a payload chunk is passed to reasseblyQueue then becomes "readable" (all fragme

[2019-02-21 13:26] backkem commented on #19
I can currently only reproducy using [backkem/go-libp2p-webrtc-direct](https://github.com/backkem/go-libp2p-webrtc-direct)` which is rather anoying to set up because it also has depencencies that are not up-streamed yet :/

Some things I noticed:
- go-mplex uses a pool of buffers for sending. Meaning, after calling `Stream.WriteSCTP` it will put the buffer in a pool for re-use. If we want to keep

[2019-02-21 13:47] backkem commented on #19
The buffer pool seems to explain the behavior quite well, it seems. If I make a copy of the `chunkPayloadData.userData` in `Association.sendPayloadData` the race is gone. I wonder what the best solution would be. Maybe always make a copy in `Stream.packetize` since we'll have to store the chunks anyway?

[2019-02-21 14:48] backkem opened #21 "Reliability"
In order to pass the libp2p test cases used in [backkem/go-libp2p-webrtc-direct](https://github.com/backkem/go-libp2p-webrtc-direct) we should be able to pass the `TestAssocStressDuplex` test for about 15000000 messages. Right now, I'm able to make it work with around 1500 messages. More will break the current implementation and cause the test to hang forever.
As discussed before this is likely ca

[2019-02-21 18:26] enobufs commented on #19
Good catch! I think it is natural for the app to reuse the send buffer It is reasonable to make a copy. BSD socket works the same.

[2019-02-21 18:55] #19 closed

[2019-02-28 19:51] enobufs commented on #11
I am going to start working on this issue form this weekend. The implementation would somewhat relate to congestion control, #14 and likely #21 would be addressed all together.

During the work of pions/webrtc#334, I ran a test with lossy connections using Network Link Conditioner. I noticed nearly 40% of the time, data channel establishment stalled (at 10% packet loss ration on both directions),

[2019-03-09 12:54] jech commented on #18
Please apply the patch yourself, github PRs are a pain.

[2019-03-12 21:51] Antonito opened #23 "Caching issue"
### Your environment.
  - Version: a43306d926b0aeaa717ac012d96271e309d69948
  - Browser: *Not relevant*
  - Other Information: https://github.com/Antonito/gfile

### What did you do?
I'm using pions/webrtc datachannels in a project to do direct file sharing.
The file transfert is stable, but the speed drops heavily over time.
I'm using a datachannel initialized like this:
[code]

### What did you

[2019-03-13 00:23] enobufs commented on #23
Since current SCTP does not have congestion control, it tries to send all the pending data pushed by the application. As network bandwidth is finite, I can image lots of packet loss would be happening if you push large data too fast (probably, the CPU is doing large number of retransmissions also).

Even with proper congestion control is implemented, it is still the application's responsibility to

[2019-03-15 04:03] enobufs opened #24 "T1-init / T1-cooke timers"
This issue is a split from #11.
Data channel connectivity issue has become very critical, I'd like to roll out T1-init/cookie timers earlier that T3-rtx/congestion control features.

[2019-03-15 04:07] enobufs commented on #11
I created a separate issue #24 for T1-init/cookie timers as I'd like to make these timers available earlier.

[2019-03-15 18:30] enobufs commented on #18
This has been addressed in the PR #22

[2019-03-17 08:49] #24 closed

[2019-03-21 21:48] enobufs opened #25 "Add a method SetReliabilityParams()"
## Summary
For DCEP layer, we will need add a method "SetReliabilityParams()" to SCTP layer.

## Motivation
Until DCEP layer's handshake has been completed (received DATA_CHANNEL_ACK), any other all other messages containing user data and belonging to this Data Channel MUST be sent ordered, no matter whether the Data Channel is ordered or not accroding the [DCEP spec](https://tools.ietf.org/html/d

[2019-03-21 22:11] enobufs commented on #25
Oops.. we already have it.. :p

[2019-03-21 22:11] #25 closed

[2019-03-25 09:54] enobufs commented on #11
Most implementation is done.  Now I am writing tests, which may take ~10 more hours. Once the tests are done, I will push my code for review.
Here's [my implementation note](https://docs.google.com/document/d/18HxKodWkPPfZpKTddQQvepux5MOS3QWMfK1eJYXQdz4/edit#)

[2019-03-26 18:02] enobufs commented on #14
This has been addressed in #11.

[2019-03-26 18:02] #14 closed

[2019-03-26 23:33] enobufs commented on #17
Newer log Hugo reported on Slack:
[code]

[2019-03-27 17:07] enobufs commented on #17
This has been fixed in v1.4.2.
https://github.com/pions/sctp/blob/v1.4.2/association.go#L1105

My notes for SCTP handshake flow and state transmission chart can be found at https://docs.google.com/document/d/18HxKodWkPPfZpKTddQQvepux5MOS3QWMfK1eJYXQdz4

[2019-03-27 17:07] #17 closed

[2019-03-31 01:26] enobufs commented on #11
I have just realized that the `bufferredAmout` and its threshold are per-stream (per-datachannel) properties. I will need to update the code...

[2019-03-31 15:47] maxhawkins opened #27 "nil pointer in (*Association).AcceptStream"
### Your environment.
  - Version: d6da587e569babffe7246a351960353d77b4dff6

### What did you do?
I pushed to github and the CI ran the tests on my rtpdump [branch](https://github.com/pions/webrtc/pull/522).

### What happened?

[code]

[2019-03-31 18:56] enobufs commented on #27
It looks to me datachannel is calling AcceptStream() on a null (*Association).
https://github.com/pions/datachannel/blob/ddfecc436c71dfac799c539f13035f51be33867c/datachannel.go#L73
I guess, Not an sctp issue...

[2019-03-31 19:18] Sean-Der opened #28 "Race found by pions/webrtc CI"
No one else worry about fixing this! I will open a PR for it

[code]

[2019-03-31 19:35] Sean-Der commented on #27
Yea that looks right to me @enobufs !

Will move to `pions/webrtc` I don't know how we got a nil here, will dig into it :)

[2019-03-31 19:44] Sean-Der opened #30 "(Possible) Deadlock found by pions/webrtc CI"
Haven't really dug into this yet, but it looks like we hold a lock when when waiting for accept (so we can deadlock the association this way)

Full build https://travis-ci.org/pions/webrtc/builds/513830206?utm_source=github_status&utm_medium=notification

[code]

[2019-03-31 19:46] Sean-Der commented on #30
I think we need to handle closing [here](https://github.com/pions/sctp/blob/master/association.go#L598)

I will write a test, but if we get a new stream we will deadlock when shutting down.

[2019-03-31 21:42] #28 closed

[2019-04-01 07:55] enobufs commented on #11
We need to determine the size of the receive window size (rwnd), which is currently set to 64KB.
Initial ssthresh value is set to the rwnd as well (as recommended in RFC 4960)

From my quick research, Firefox and Chromium [used to have 128KB ](http://cse.aalto.fi/en/midcom-serveattachmentguid-1e5c98ab0819a0cc98a11e59ec1ad6153cbd4ebd4eb/eskola_webrtc.pdf)and both were [requested to increase it to 1

[2019-04-01 19:08] enobufs commented on #11
Let's start with 128KB.  We will do more benchmark later and increase it as we become more confident about it.

[2019-04-01 20:51] enobufs commented on #21
Would it be easy to run libp2p tests to very the PR #26 fixes or mitigate the situation?

[2019-04-01 22:03] enobufs opened #32 "Delayed Ack"
## Summary
I'd consider this as a post-v2 work item (no API change required)
The support of congestion control addressed in #11 has drastically improved the performance, but it is not optimal yet. To improve it further, we will need to implement delayed ack to reduce the number of packets per sec.

## Motivation
Say if you are handling 20MB/s of traffic, as the current MTU size (for SCTP) is set t

[2019-04-01 22:24] backkem commented on #21
I added go modules support earlier today so that should make this easier. All you'd need to do is un-comment the more advanced tests in `webrtcdirect_test.go`. I did also notice that these tests where overflowing the buffer that was added in pions/ice. That was a bit concerning. I'll look further into this tomorrow.

[2019-04-02 02:41] maxhawkins opened #33 "RTX Failure: T1-init"
### What did you do?
Added two PeerConnections and established Opus streams between them

### What did you expect?
No logs.

### What happened?
Pion printf logged "RTX Failure: T1-init". The audio stream works fine.

Should this happen normally or is it a bug?

[2019-04-02 03:46] enobufs commented on #33
When that happened, was the data channel connection successful?

[2019-04-02 03:46] maxhawkins commented on #33
I am not using data channels

[2019-04-02 03:52] enobufs commented on #33
Hmm...  Then I guess, data channel is being opened without the app telling pion to do so might be the problem...

[2019-04-02 04:03] maxhawkins commented on #33
pions/webrtc@d906c2b43b07

[2019-04-02 05:39] maxhawkins commented on #33
Not sure if this is a separate issue: I'm also getting `Failed to retransmit init (nRtos=6): EOF` in the same application now.

[2019-04-02 06:43] enobufs commented on #33
The "RTX Failure: T1-init" happens when all of 8-INIT chunk retransmissions have failed. You just saw the 6th retransmission failure on sending data to DTLS net.Conn. What I don't understand is why the datachannel handshake got started when your app is not using data channel. (smell of bug in datachannel..)

[2019-04-02 07:01] enobufs commented on #33
I made a quick pion-pion connection test without data channel. From the SCTP log, it is trying to open a stream.

Although my code does not call CreateDataChannel(), I see m= line for DTLS/SCTP.  How does that get it the SDP??

[code]

[2019-04-02 15:31] enobufs commented on #33
Sorry, I wasn't thinking properly last night. Unless pions support a renegotiation of m line, pions need to let SCTP/DTLS open regardless of users' intention to use data channel.

I believe there was a lot of packet loss when you saw those logs. `Failed to retransmit init (nRtos=6): EOF` though, underlying DTLS connection must have been closed for some reason.  Anyway, I believe you could ignore t

[2019-04-02 19:13] maxhawkins commented on #33
Got it. I'll just ignore these messages then. Thanks!

[2019-04-02 19:13] #33 closed

[2019-04-02 23:41] enobufs commented on #30
Might be related: https://github.com/pions/webrtc/issues/578
I will give a close look tonight.

[2019-04-03 01:05] enobufs commented on #30
I think I found the cause! Will create a PR.

[2019-04-03 01:26] enobufs commented on #33
#34 may also fix the errors you reported.

[2019-04-03 01:27] maxhawkins commented on #33
I will update when it merges and let you know it that fixes things

[2019-04-03 12:34] enobufs commented on #30
I closed the PR (#34) because the dead-lock still occurred with the modification. I looked into it further, and seeing offerrer side is calling OpenStream() twice, first is on CreateDataChannel and the second is after AcceptStream() returns.

It's hard to read with a bunch of log messages, but you can see two stack traces below printed right before datachannel.Dial() call from same "offerer".

[co

[2019-04-03 12:37] backkem commented on #30
I still feel this holds based on what you said (from PR):
- There is a new stream incoming.
- Nothing is listening on `acceptCh` since the caller of `AcceptStream` is still processing the previous incoming stream (it tries to WriteSCTP) .
- Processing of the previous incoming stream is blocked because `createStream` holds the SCTP lock while sending on `acceptCh`.

Regarding the current solution:

[2019-04-03 12:38] enobufs commented on #30
@backkem I said earlier, someone was listening on AcceptStream() when dead lock occurred, but above log is the case I saw earlier I think.  None is waiting on acceptCh in the above case.  There seem to be more than one pattern.

[2019-04-03 12:41] enobufs commented on #30
I think we have to find out why OpenStream() is called twice. (I am too tired now. will do more tomorrow)

[2019-04-03 12:57] enobufs commented on #30
Thanks for our notes by the way.  We could use buffered channel also - just like TCP's listening socket's "backlog"...

[2019-04-03 13:02] backkem commented on #30
The only problem I have with a buffered channel is that it only delays the problem. If multiple new streams build up there becomes a point where the exact same deadlock problem could occur. With my first suggestion you basically create an 'unlimited' buffer (due to spawning new goroutines). In the second case we can explicitly handle buffer overflow in the way we want.
Looking into duplicate `Open

[2019-04-03 18:13] enobufs commented on #30
True, if that is a blocking channel. TCP listener has a finite size of backlog to control the rate of the incoming connection. If there is such a large amount of incoming connection on an acceptor, I would consider dropping some of them. E.g. DoS attack. (imagining pions/sctp alone is used for something else, etc).  The unlock/lock solution might be so fragile when a single DATA chunk with differe

[2019-04-03 18:19] backkem commented on #30
Ok, that could work. Normally, I don't like select-default because it will trigger the default case if nothing is listening on the other channel at the exact same time. However, since we're using a buffered channel that's not really a problem.

[2019-04-03 18:44] hugoArregui commented on #30
For what is worth, I can confirm that buffering the acceptCh channel fixed the problem for me.

[2019-04-04 00:55] #30 closed

[2019-04-06 17:55] enobufs commented on #11
I found a bug in handleForwardTSN() sending SACK to every single FowardTSN. The SACK again generates ForwardTSN.

According to RFC 3758 Sec 3.6, SACK should only be sent when FowardTSN's newCumulativeTSN is the current peerLastTSN or behind.

I have locally confirmed that this fixed the "snowballing effect", and my stress test passed.

I will add the change to PR #26 soon.  (@Sean-Der)

[2019-04-06 22:17] #11 closed

[2019-04-09 01:24] #18 closed

[2019-04-09 01:26] enobufs commented on #21
@backkem can you confirm this has been resolved?

[2019-04-09 01:27] #23 closed

[2019-04-09 01:46] enobufs opened #37 "'rwnd' never becomes 0"
### Your environment.
  - Version: v2.0.3 or earlier
  - Browser: n/a

### What did you do?
Sent 100 MB of data over a data channel, using MaxRetransmits set to 0 or 1, then the transmission stops due to an issue reported as pions/ice#12.

### What did you expect?
All 100 MB of data transfer should complete successfully.

### What happened?
The issue pions/ice#12 is a separate problem, but obvious

[2019-04-09 01:52] enobufs commented on #37
## Additional notes:
This did not happen when I used a reliable channel. This is because the receiver does not receive Forward TSN chunks.  (when maxRetrasmits or maxPacketLifetime values are small, Forward TSN is transmitted almost always. Due to the lack of delayed ack, the receiver side is spending a lot fo time handling Foward TSN chunks, causing not being able to hand DATA chunks as fast as t

[2019-04-09 06:12] backkem commented on #21
Yes, closing.

[2019-04-09 06:12] #21 closed

[2019-04-09 19:28] enobufs commented on #37
Created a PR #38.

This did not resolve the "slow reader" case mentioned in #37. What's filling the packetio/buffer was actually the control chunks (Forward TSN), not the DATA chunk. However, counting rwnd using reassembly queues is the right thing to do.

[2019-04-13 03:03] enobufs commented on #37
I am going to create another PR that includes delayed ack implementation. Closing this PR.

[2019-04-13 03:03] #37 closed

[2019-04-17 02:47] enobufs opened #40 "Slow-reader problem"
## The issue
It appears that SCTP is reading incoming data slow in a high bandwidth usage, causing a buffer (packetio) at ICE layer being filled up with a lot of incoming data (cause a lot of latency before reaching SCTP layer) - pion/ice#12.

(Excerpt from the discussion in the PR #39)
[syscall.pdf](https://github.com/pion/sctp/files/3087622/syscall.pdf)
Looking at the trace output (go tool trace

[2019-04-17 04:59] backkem commented on #40
What about making WriteSCTP blocking once we run too far ahead (to much in flight)? That way we just slow down the entire pipeline instead of flooding the remote or the pending data buffer.

[2019-04-17 08:16] enobufs commented on #40
How fast the outgoing data goes out onto wire depends on the congestion window now, so you cannot fully control the outgoing traffic by blocking WriteSCTP.

With the delayed-ack, about only 1% of handleInboud() calls are calling a.send() (to send immediate SACK or FowardTSN) but that's when there was no packet loss. Once packet loss occurs, every single handInbound() call will call a.send(), until

[2019-04-18 03:22] enobufs commented on #40
@backkem, I found a bug in fast retransmission, not recovering well from contiguous losses. (just wanted to let you know I am working on it)

[2019-04-25 10:31] #40 closed

[2019-04-25 10:31] #32 closed

[2019-04-25 14:10] backkem opened #42 "WriteLoop issues"
### Your environment.
  - Version: 1.6.0

### Summary
Running SCTP v1.6.0 as part of the libp2p / go-libp2p-webrtc-direct CI ([logs](https://travis-ci.org/libp2p/go-libp2p-webrtc-direct/builds/524485205)) still seems to cause some problems that are not limited to ICE:
- There seems to be a problem with shutdown where SCTP keeps trying to write even thought the DTLS connection is already closed: [l

[2019-04-25 17:29] enobufs commented on #42
Thanks @backkem, great catch! Looks like the goroutine for T3-rtx timer is still active.  (probably other timers, too) These are cleaned up when association.Close() with the current code, and it probably needs to be cleaned up when writeLoop ends.

[2019-04-25 17:47] enobufs commented on #42
Hmm, I see this also in your log:
[code]
The writeLoop has not ended with some node... I guess I need to improve the log message for dig deeper.

[2019-04-26 02:00] enobufs commented on #42
I confirmed SubtestPingPong test fails on my mac as well.
Looking at the log (the improved one I just pushed to writeLoop branch), there are two nodes (associations).  One end terminates (I can see "writeLoop ended" and "closing association.."), but the other keeps trying to retransmit packets for about 45 seconds, then finally sees an write error on netConn. (I do not see, so I guess it never rec

[2019-04-26 07:04] enobufs commented on #42
@bacckem
With the test, SubtestStress50Conn10Stream50Msg, I was able to see some nodes firing times even though writeLoop exited.

I added a code to clean up timers when exiting writeLoop - I pushed the change to the branch.  I ran the same test, SubtestStress50Conn10Stream50Msg, I no longer see a node firing rtx timeout after writeLoop exits, so it looks a bit clearner on the log but, I still see

[2019-04-29 17:07] #42 closed

[2019-05-05 00:43] enobufs opened #45 "Retransmission of RECONFIG chunk"
## Summary
Retransmission of RECONFIG chunk has not been implemented yet.

## Motivation
This is crucial when the application expects to receive EOF at the end, over a lossy connection.

## Describe alternatives you've considered
A workaround to this is to implement end-of-file signaling at the application level.

## Additional context
* [draft-ietf-rtcweb-data-channel-13](https://tools.ietf.org/h

[2019-05-28 17:39] enobufs opened #49 "Remove unnecessary copy during calculation of CRC32"
## Summary
Luke pointed out on slack:
[code]

## Motivation
Seems to be an easy fix/improvement.

## TODO
* Double-check if there was any intention with the copy..

[2019-06-19 15:30] cohosh opened #50 "Stream doesn't check for io.ErrShortBuffer returns from reassemblyQueue.read"
### Your environment.
  - Version: Release
  - Browser: N/A
  - Other Information - See https://trac.torproject.org/projects/tor/ticket/28942#comment:14

### What did you do?
Used the pion/webrtc library for the the proxy side of our snowflake anti-censorship system that reads from a WebRTC connection to the client. I used keroserene/go-webrtc as the library on the client side and found data being

[2019-06-19 16:46] enobufs opened #52 "Revisit stream.ReadSCTP's error handling"
Related to #51, other errors (than io.ErrShortBuffer) could be returned in the future. Also, the handling of error returned by ReadSCTP is not tested. For better detection of regression, we should add some tests for ReadSCTP.

[2019-06-25 05:11] Sean-Der commented on #12
@enobufs is this still an issue/something that needs to be done?

[2019-06-25 17:11] enobufs commented on #12
SCTP RFC actually mentions RFC4821 which recommends using the heartbeat. It is an interesting approach.  The current implementation does not fully support heartbeat. In WebRTC context, we have heartbeat at ICE layer, and I am not sure how critical it is not having heartbeat at SCTP layer..

I think we need to investigate how other WebRTC libraries deal with path MTU discovery.

[2019-07-04 17:27] #50 closed

[2019-07-14 20:45] lgrahl opened #53 "Performance measurement tool"
## Summary

It would be great to have a tool to measure general performance. Developing something similar to `iperf` would enable evaluating the performance in countless scenarios (loopback over memory only, loopback over IP, specific delay, packet loss, packet duplication, packet reordering, ...).

## Motivation

Compare performance against other stacks and determine spots for optimisation.

## N

[2019-07-14 23:54] Sean-Der commented on #53
Hey @lgrahl it is great to see you here :)

That would be awesome. It would be great to suss out bugs and could help help fuzz all the implementations against each other. That would really kill the `monoculture` argument quick.

If we have 3 versions running against each other and fixing/communicating stuff.

We really need to start the conversation with Tim Panton (and others) and get the `Commun

[2019-09-06 21:21] enobufs opened #59 "OnBufferedAmountLow wouldn't fire when bufferAmountLow is set to 0"
### Your environment.
  - Version: v1.6.9 or earlier
  - Browser: n/a
  - Other Information - *stacktraces, related issues, suggestions how to fix, links for us to

### What did you do?
@hugoArregui found this.
When bufferAmountLow is set to 0, OnBufferedAmountLow callback will never be made.

### What did you expect?
In the case, if the bufferedAmount is > 0 then reaches 0, the callback should be

[2019-09-06 21:39] enobufs commented on #59
I found another bug... With the current code, the callback is made every time when it sees the bufferredAmount is less than the threshold.

It should only be called when the bufferedAmount decreases from above the threshold to an amount equal to or below it, as the spec says...

[2019-09-08 16:46] #59 closed

[2019-09-24 07:59] richp10 opened #61 "Minimal client / server example fails handshaking with "ChunkInit recieved in state 'Closed'""
### Your environment.
  - Version:   v1.6.10
  - Go 1.12.4

### What did you do?
Created minimal client / server example as shown here: https://gist.github.com/richp10/b5afc98353e548533385af55f587da63

### What did you expect?
Expected handshake to complete and be able to communicate across the stream.

### What happened?
CLIENT:

[code]

SERVER:
[code]

This is more likely a misunderstanding on m

[2019-09-24 09:18] richp10 commented on #61
Huge thanks - yes that works perfectly.  Great project, btw..

[2019-09-24 15:14] enobufs commented on #61
That's what I thought too when I came across pion a year ago. I have been using it since then.
(let me close this issue)

[2019-09-24 20:47] Sean-Der commented on #61
@richp10 if you are interested in contributing a `example client+server` would be amazing!

Something like the DTLS Client/Server examples https://github.com/pion/dtls/tree/master/examples

[2019-09-25 10:49] AeroNotix commented on #53
I'd really like to see numbers for SCTP's throughput/performance. I am running into issues myself where I get inexplicably low throughput using webrtc datachannels and being able to point to a benchmark where I can run myself, under ideal conditions, what the throughput can be - it would allow me (and other users) to understand where the bottlenecks are in their own code (would also flush out pote

[2019-09-25 10:50] AeroNotix commented on #49
I am not sure if this actually improves things:

[code]

[code]

[2019-09-25 17:53] enobufs opened #62 "Improve data channel (SCTP) performance"
## Motivation
SCTP (datachannel) performance is perceived very low particularly over a real network with latency with limited bandwidth. No one appears to have properly measured performance. We should identify underlying problems causing the slowness with correct measurement, then tackle those to improve it.

1. Benchmark
1. Improve performance (we may create separate tickets, and this issue will

[2019-09-26 15:54] hugoArregui opened #63 "Problems when transmitting ordered data. Unordered data too."
This may not be a problem in sctp, maybe there is a bug on the example or I'm missing something but since I have a reproducible case I think it's interesting to document it.

The code is in here: https://github.com/hugoArregui/testsctp/tree/topic-ordered-problem

I see this on the receiver end:

[code]

And this on the sender end:
[code]

I think for some reason the ressembly queue cannot be read

[2019-09-27 20:25] hugoArregui commented on #63
I found something, a chunk is missing in the server side and since a chunk is missing the ssn of the stream is incosistent. AFAICT the chunk is sent from the client but the server never get's it,
the reseembly queue ssn is smallest that any chunk in the queue, so it never process any of his chunks.

I don't know if I'm making sense, this is what happen AFAICT:
- client sends chunk 1,2,3,4,5.. n
-

[2019-09-27 20:44] hugoArregui commented on #63
building with `-race` seems to prevent the problem!

[2019-09-27 22:25] hugoArregui commented on #63
I saw this on the server side:

[code]

and the code indicates:

[code]

Probably this prevents the client/server to sync on the stream parameters, furthermore I think this is also causing a missalign, I see how at some point the client sends a fwdTsn but the server has fwdTsn disabled

[2019-09-27 22:38] hugoArregui opened #64 "sctp Server start with state closed, which prevent the cookie exchange with the client"
- server association is created with sctp.Server, which set state to close (well, it doesn't set the state really)
- client association is created with sctp.Client, which set the state to cookie-wait

client sends cookie but is ignored by the server because:

[code]

[2019-09-28 03:08] hugoArregui commented on #63
I was able to trace back the problem to this:

- at some point the reassembly queue is full, but since the stream is ordered, if the first chunk is missing the queue won't be readable.
- The queue is not readable, so it cannot process new chunks
- The queue doesn't get new chunks because is full so it won't ever be readeable again.

I was able to hack my way around the problem by changing the asso

[2019-09-28 08:29] enobufs opened #65 "Stream.Close() wouldn't unblock ReadSCTP()"
### Your environment.
  - Version: v1.6.10

### What did you do? & What happened?
In my test tool using SCTP, an attempt to close stream did not unblock Stream.ReadSCTP() when the association with the remote was already gone.

### What did you expect?
ReadSCTP() should be unblocked.

[2019-09-28 17:16] hugoArregui opened #67 "Enable godox linter"

[2019-09-29 05:16] enobufs commented on #63
PR #66 fixes a problem with ordered delivery, but my additional vnet test indicated, the buffer full lock-up happens with the unordered stream as well.

Modified fix incoming!

[2019-09-29 12:36] hugoArregui commented on #63
How can this happen with unordered delivery if the queue will always be readable if there is some unordered chunk there?

[2019-09-29 16:18] enobufs commented on #63
Say, you are sending two messages, A,  and then B. With unordered, it could be received, B then A when unordered is true. (B is readable before A)

When both of the messages are 40KB, for instance, then B won't be fit in the buffer unless A is read by the app. If A has a missing chunk, this would be a dead-lock with the earlier code.

[2019-09-29 16:38] enobufs opened #71 "Reassembled unordered message is received broken"
### Your environment.
  - Version: v1.6.11

### What did you do?
I was writing test with sctp stream configured for unordered delivery.

### What did you expect?
Sending messages, although the order could be different, each messages are identical to the original messages.

### What happened?
Each message is broken when the message is larger than the max segment size, 1200.

I know the cause.

The

[2019-09-29 17:05] #63 closed

[2019-09-30 17:05] #71 closed

[2019-10-01 05:36] enobufs commented on #62
Preparation in progress. I am going to use [this tool](https://github.com/enobufs/sctptest). My focus is to measure the performance of SCTP protocol (not really about the bufferedAmount control).

[2019-10-01 18:44] enobufs opened #74 "Introduce association.Listener"
## Summary
I found it is difficult to use pion/sctp alone because sctp.Association.Client and sctp.Association.Server take a "connected" UDP. These are equivalent to a child (server) socket and a client socket of TCP. What's missing in pion/sctp s "listening socket".
In the context of WebRTC, we use Client-Client simultaneous open, which is not practical in the cases of non-WebRTC (no-ICE, etc).

[2019-10-01 18:59] enobufs commented on #64
Both clinet and server starts with Closed state. The client, however, sends Init chunk right away, transitions to cookie-wait state.

The server socket never transitions to cookie-wait (== never sends Init chunk). The above code is effectively only for the client.

@hugoArregui If this makes sense to you, can we close this issue?

[2019-10-01 19:06] hugoArregui commented on #64
Yes, I think I saw the exchange not happening between a server and a client, but if this is not the cause then the issue is wrong, I'll try to see if I can reproduce it again and create a new one. Thanks!

[2019-10-01 19:06] #64 closed

[2019-10-06 00:05] enobufs commented on #62
The first pass of a benchmark on pion/sctp@v1.6.13 in comparison with TCP on various RTT (using Network Link Conditioner).

![pion_sctp@v1 6 13 and TCP](https://user-images.githubusercontent.com/930777/66262325-26943780-e792-11e9-8fd8-165d8b67e40d.png)

Obviously, the congestion window is not growing for some reason that is to be found out.

[2019-10-07 02:44] enobufs commented on #62
Further [investigation](https://docs.google.com/spreadsheets/d/1Ss69XBHSGPsbO0gXzQB1iXwNI-872e_CTPV1byyX2rY) revealed:

* TCP dynamically increases the receiver buffer size
* Pion/sctp's congestion window (cwnd) does not grow fast enough
* Retransmission receover is very very slow when massive packet loss happens

I attempted to increase the receive buffer size from 64KB (current) up to 1MB, but t

[2019-10-07 05:22] enobufs commented on #62
Those fix-1 and fix-2 have landed in pion/sctp v1.7.0.
Next is to benchmark throughput responses to packet loss, and see if anything to improve.

[2019-10-07 21:01] enobufs opened #77 "Turn Stream.WriteSCTP() and Write() a blocking call by default"
### Your environment.
  - Version: v1.7.0 (or earlier)

### Background
WebRTC's datachannel.Write() does not block as we follow JavaScript WebRTC API. When sending a large amount of data, it is the application's responsibility to check the buffered amount (in SCTP layer for sending).

This is pretty standard in JavaScript land, but this really does not align with a typical semantics of Go. (i.e. n

[2019-10-10 07:03] chrisprobst commented on #62
@Sean-Der @enobufs
First, thanks for the great work! We merged and tested pion 2.1.6, which includes your fix.
We would like to share our feedback and hopes for the future with you :-)

Context:
- We use pion for P2P-CDN live streaming
- Bandwidth-intensive use case, we always use negotiated and ordered data channels
- We usually send binary messages (we fragment messages into 15 * 1024 sized pack

[2019-10-10 07:24] enobufs commented on #62
Thanks @chrisprobst so much for the feedback!  I personally have not looked closely with the interaction between pion and browser, just yet. I will definitely look into it as soon as I can.

Let me ask you a few questions...
* Which browser did you use?
* "Browser->Pion issue remains" - how about other cases? Was 2.1.6 better or worse than older versions?
* Did you use any partial-reliability opti

[2019-10-10 07:31] chrisprobst commented on #62
Thanks @enobufs for your quick response!

- We use many different browsers, but for testing out this behavior we always use the latest Chrome browser. I am testing on macOS and Linux during development.
- Al other pairs are good enough for our use case, so we do not send like 100MB per second or so. Just the Browser->Pion direction is really slow. I was just able to reproduce this problem with a p

[2019-10-10 07:48] chrisprobst commented on #62
This gives us hope! It would be extremely helpful for us to rely on this direction (Browser->Pion).

If you need help / further information, please ask! :-)

[2019-10-14 13:14] chrisprobst commented on #62
Dear @enobufs, do you have an idea, how much time & effort this would take? We are really interested in this bugfix and would like to help. Is there a good starting point or is it just a tiny issue better solved by a core developer?

[2019-10-14 18:08] enobufs commented on #62
@chrisprobst I got some time today and will let you know my findings at the end of the day. (sorry, I was sick for the last few days... now I am feeling fine!)

[2019-10-15 07:37] renovate[bot] opened #78 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-10-15 07:51] chrisprobst commented on #62
@enobufs Oh I wish you the very best! Your help is really appreciated!

[2019-10-16 07:49] enobufs commented on #62
@chrisprobst I was distracted by another bug (unrelated) to fix, but I got my data channel between pion and chrome working began writing test cases. My time on weekdays is very limited, but I'm working on it, hoping to get something for you by this weekend.

[2019-10-16 07:50] enobufs commented on #62
oops - was wrong button.

[2019-10-20 05:49] enobufs commented on #62
@chrisprobst
Sorry, it took me some time to stabilize my browser <-> pion test tool, but the good news is now I am seeing the problem with the browser -> pion throughput! I will fix that!

[2019-10-20 10:23] enobufs commented on #62
My findings:
* Chrome sends SACK always immediately (no delayed-ack! as far as I can see)
* Chrome DATA chunk never set "immediate ACK" bit
* By reducing the ack delay from 200ms to 20ms, the throughput drastically improved.
* Pion does not follow what RFC says "an acknowledgement SHOULD be generated for at least every second packet". Pion only waits for 200ms of ack timeout or the immediate ack b

[2019-10-20 20:14] enobufs commented on #62
Current throughput...
![Throughput in each direction](https://user-images.githubusercontent.com/930777/67165559-700c8700-f33b-11e9-8d56-4b0f88d448e3.png)

[2019-10-20 23:14] enobufs commented on #62
Now I am sending the Ack at every second packet.
Chrome to Pion throughput is very close to theoretical throughput!

![Chrome to Pion Throughput Improvement](https://user-images.githubusercontent.com/930777/67168022-968aec00-f354-11e9-81cb-fa53a0c3554d.png)

[2019-10-21 00:26] Sean-Der commented on #62
😱 that is an amazing graph, that is so exciting!!!

Amazing @enobufs I can't wait to see what people think

[2019-10-21 00:28] enobufs commented on #62
I have removed the use of the immediate SACK bit.
Measured the throughput with Chrome and Firefox. It all looks good to me.

![Throughput with Browsers (with fix)](https://user-images.githubusercontent.com/930777/67169231-f8e8ea00-f35e-11e9-8c4b-8ab3f74f9d19.png)

[2019-10-21 02:51] enobufs commented on #62
@chrisprobst
I'm pretty sure PR #79 would fix your case also. Please try if you have a chance!

[2019-10-21 06:52] chrisprobst commented on #62
@enobufs What a great work, I will test it out for sure! Short question, because I am not too familiar with the release management of pion. I was using the latest 2.1.6. I saw that there is now a 2.1.8, can I use it, will it contain the patch?

And more time @enobufs, what a great work! We appreciate our work so much. Of course, we appreciate the work of all committers ;-).

[2019-10-21 06:59] Sean-Der commented on #62
@chrisprobst just tagged `v2.1.9`! This contains the patch.

We just run the whole test suite with updated libs (to make sure nothing regresses) so takes a little time to go across :) excited to hear how the testing goes!

[2019-10-21 07:07] chrisprobst commented on #62
Very nice, thanks for the release.

[2019-10-21 18:31] AeroNotix commented on #62
Great job @enobufs !

[2019-10-22 16:35] #65 closed

[2019-10-23 02:29] enobufs commented on #52
Returning of io.ErrShortBuffer is tested. Also io.EOF has been introduced and tested.  I no longer see any issue. Closing this.

[2019-10-23 02:29] #52 closed

[2019-10-23 17:15] #45 closed

[2019-10-27 00:04] kixelated commented on #49
Oh hey @AeroNotix, I didn't realize you looked into this already. Could you take a look at my pull request and see if it looks better? I can explain what was wrong with your benchmark and new implementation if you'd like.

[2019-10-29 07:10] chrisprobst commented on #62
@enobufs  @Sean-Der We did a lot of testing, we are happy with the results. No more delay, this solves a huge pain for us, really! We used the work-around to only match pion devices, because pion-pion always worked superb. This restriction can now be removed and our initial production tests show that it works as expected. Thanks guys!

[2019-10-29 16:13] Sean-Der commented on #62
That is amazing news, @enobufs is really a rockstar :D

@chrisprobst if you ever have ANYTHING that can be better I would love to know. I am sure people are hitting issues, but just not telling us. I am ready to jump on anything I can :)

[2019-10-29 16:42] enobufs commented on #62
All Pion need is love!

[2019-10-30 04:52] chrisprobst commented on #62
@enobufs @Sean-Der Thank you very much, we appreciate this offer a lot. For us, Pion is an enabling technology, because Go is so easy to cross compile on mobile, there are simply no other options for WebRTC cross-device development. Fyi: Pion will soon be used for a very large radio station in South America, we expect a lot of devices using Pion to hear radio every day. We will keep you posted. Th

[2019-10-31 05:17] lherman-cs opened #84 "Add an example: Send/receive ping/pong messages"
Create a simple example by sending ping/pong messages with sequence numbers. The example should be using UDP for simplicity.

[2019-11-02 20:44] #84 closed

[2019-11-03 21:32] #49 closed

[2020-01-12 14:00] at-wat opened #91 "Data race during the test"
On CI environment,
[code]

[2020-01-13 10:58] at-wat opened #94 "32bit support"
Build failed.
[code]

[2020-01-14 08:32] #94 closed

[2020-01-14 10:28] #91 closed

[2020-01-30 00:17] Sean-Der opened #101 "Abort chunks don't tear down the assocation"
Currently if we receive an `ABORT` chunk we print it and continue.

We need to properly tear down the association and notify the user.

[2020-01-30 00:18] Sean-Der commented on #101
https://github.com/pion/sctp/blob/master/association.go#L1977-L1989 is the code in question.

[2020-02-01 00:28] Sean-Der opened #103 "Invalid inbound chucks don't cause an ABORT to be generated"
`handleChunk` iterates each chunk and calls `c.check` this function returns if we should abort or not.

Right now we ignore the return value and just print. In the future we need to properly handle, and send an ABORT instead of just logging.

[2020-02-01 01:16] #101 closed

[2020-02-01 07:30] Sean-Der opened #104 "Pion <-> usrsctp under 10% packet loss gets an abort"
* Using [main.go](https://gist.github.com/d43be7f1f971f7110298f6a378efe179)
*  [demo.js](https://gist.github.com/3fd08d4203e23e4f13b0ff6e664d94cb)
* simulating packet loss using `comcast --device=lo --latency=150 --packet-loss=10% --target-proto=udp`

 I get an ABORT after ~5 seconds.

[code]

This abort is generated [here](https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netinet/sctp_ind

[2020-02-01 07:40] Sean-Der commented on #104
This seems to be triggered by the size of the message we are sending. If I drop [this](https://gist.github.com/Sean-Der/d43be7f1f971f7110298f6a378efe179#file-main-go-L125) to a smaller size the crash goes away. I will keep pulling it down and see at what size it stops. (Will update this message with the data)

[2020-02-01 08:46] Sean-Der commented on #104
I don't understand what this assert is for
[code]

It seems to be saying
* TSN of this new chunk is exactly 1 greater then what we have gotten
* It doesn't have the `B` field set (beginning fragment)

[2020-02-01 09:28] Sean-Der commented on #104
Here is a `pcap` with this message `Protocol Violation: Reass 30000007,CI:ffffffff,TSN=0bf4ed02,SID=0002,FSN=bf4ed02,SSN:0000`

[pion.tar.gz](https://github.com/pion/sctp/files/4142379/pion.tar.gz)

[2020-02-01 09:44] Sean-Der commented on #104
@enobufs this looks promising! This happens right after a storm of `Forward TSN` packets. Then a DATA packet right after causes the issue. Should we not be sending a `Forward TSN` in the middle of a fragment maybe?

[2020-02-01 09:45] Sean-Der commented on #104
![2020-02-01-014412_761x319_scrot](https://user-images.githubusercontent.com/1302304/73590190-7363f280-4494-11ea-97c8-488f101915d5.png)

![2020-02-01-014420_844x326_scrot](https://user-images.githubusercontent.com/1302304/73590193-765ee300-4494-11ea-9471-08319b668842.png)

[2020-02-01 09:46] Sean-Der commented on #104
I think the new forward TSN flushes any caching in `usrsctp`.

Then when the next data comes in it is confused because it goes to do a lookup and we have a chunk that the `B` bit is unset.

[2020-02-01 20:27] Sean-Der commented on #104
I am figuring out the best way to make sure when `abandoned` is set it takes into account the whole fragment.

`checkPartialReliabilityStatus` is called on a single chunk. Maybe we can update this to take a `payloadQueue` + an index. Then it can handle iterating and making sure the whole chunked fragment is marked abandoned.

[2020-02-01 20:50] enobufs commented on #104
@Sean-Der I think you are on the right track! Indeed, forwarding TSN to a fragment with (BE)=(00) doesn't make sense, it should forward to the last fragment, TSN E-bit being 1.

[2020-02-01 21:11] Sean-Der commented on #104
@enobufs That's good to hear :) Any suggestions on best way to refactor/change the API?

This is what I have so far
[code]

[2020-02-01 21:49] enobufs commented on #104
Ah... one thing I realize that make make things complicated is, the rest of fragments that also need to be abandoned may still be in the pendingQueue.

When sendPayloadData() is called, the chunks passed would first written into pendingQueue. The chunks in the pending queue do not have TSN assigned yet (so that urgent messages can be reordered - and that is why the pendingQueue has ordered and reo

[2020-02-01 22:03] enobufs commented on #104
There is one thing in my mind that concerns me a bit about the protocol violation error.

Say, we sent chunks with TSN 1(B=1), 2, 3, 4, 5(E=1).  The sender forwards TSN to 3, stops retransmitting 4, 5 (which we are trying to do), but those chunks with 4 and 5 might still be in-flight, and later received by the remote.

So, I am not 100% sure if the workaround would work perfectly. usrsctp may have

[2020-02-01 22:07] Sean-Der commented on #104
oh that is a really good point.

I think that is worth asking @tuexen I can file an issue on the usrsctp bug tracker and see if has any ideas!

[2020-02-01 22:08] Sean-Der commented on #104
I am just walking out the door, but I can file a ticket right when I get back! Or feel free to do it if you are bored/want to get into it :)

[2020-02-01 22:13] enobufs commented on #104
I won't be available for this issue (as the main assignee), but will try my best to support your work like this.  It is great to have another eye on sctp also!

[2020-02-01 22:18] tuexen commented on #104
Is it possible to get
* a .pcapng file taken at the side sending the ABORT chunk.
* a description what is done at the data sender side (message size, ordered / unordered, PR-SCTP policy)
Then I can try to reproduce the issue.

[2020-02-02 02:11] Sean-Der commented on #104
Fantastic! Thank you @tuexen

* This is the [chrome.pcap.tar.gz](https://github.com/pion/sctp/files/4143452/chrome.pcap.tar.gz) that is coming from usrsctp in Chromium.

The sender is [here](https://gist.github.com/Sean-Der/d43be7f1f971f7110298f6a378efe179#file-main-go-L103-L112)
* Unordered
* 0 Retransmissions
* Each message is 50000 bytes, broken into 1200 byte fragments.

The abort comes from u

[2020-02-02 14:52] tuexen commented on #104
Could you provide a tracefile from the usrsctp side which contains the packets received and sent? Right now it only contains one direction.

One note about your configuration: a single user message needs 42 fragments, which make up one packet each. Using a packet loss rate of 10 %, this gives a chance of (9/10)^42 that a user message is received completely. This is approximately 1%. Not sure if th

[2020-02-02 16:33] mturnshek commented on #104
@tuexen can you elaborate a bit on that derivation for a noob? 50000 bytes message = 42 fragments in SCTP, which are one packet each?

[2020-02-02 19:27] Sean-Der commented on #104
@tuexen here is another one! Pion got `Abort chunk, with following errors: (Protocol Violation: Reass 30000007,CI:ffffffff,TSN=cf800b55,SID=0002,FSN=cf800b55,SSN:0000)
`

[fromChrome.tar.gz](https://github.com/pion/sctp/files/4145053/fromChrome.tar.gz)
[intoChrome.tar.gz](https://github.com/pion/sctp/files/4145054/intoChrome.tar.gz)

---

The 10% packet loss is just for an easy repro. @mturnshek i

[2020-02-02 19:47] tuexen commented on #104
@mturnshek @Sean-Der gives the correct explanation. If you are sending a user message of 50000 bytes and in a packet fit only 1200 bytes and considering  50000/1200 = 41 + 2/3, you need 42 packets. Since the number of retransmissions is 0, a single drop of a fragment required the receiver to drop all fragments of the user message.

[2020-02-02 19:57] tuexen commented on #104
@Sean-Der Can't you provide a single tracefile showing the packets processed by the usrsctp stack within Chrome? I need the correct timing between received packets and sent packets.
Firefox has this capability and I think Chrome has it so. Something like
https://github.com/nplab/WebRTC-Data-Channel-Playground#trace-with-wireshark

I need to understand which packet sequence is sent by the peer trig

[2020-02-02 20:13] Sean-Der commented on #104
Unfortunately enabling the logging in Chromium/FireFox stops me from getting the abort sent back :(

Let me keep trying different combinations!

[2020-02-02 20:18] tuexen commented on #104
OK, that is strange since it only changes the timing and I don't expect a race condition to be a problem here. How are you taking the traces if not via logging from usrsctp?

[2020-02-02 21:30] Sean-Der commented on #104
I have been capturing them going in/out of the Go SCTP implementation.

Just adding it to the Read/Write functions.

If I put them in the same pcap would it be helpful? I will keep trying with the browsers though, or maybe just write a little C program and get browsers out of the equation.

Thanks again for all the help

[2020-02-02 21:52] tuexen commented on #104
I see.

It would be best to see the perspective of the usrsctp stack, since Go's perspective is different. Packets are dropped, which are sent the the Go implementation. I can try to look at these files. At least I can see if the Go implementation behaves as expected.

[2020-02-02 23:17] Sean-Der commented on #104
@tuexen Do you think it is possible that the cleaning up of reassembly queues from the forward TSN can cause this?

When getting a FORWARD-TSN the code cleans up some of the control stuff [here](https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netinet/sctp_indata.c#L5735)

It it possible that when we get another fragment we enter the block for a new control [here](https://github.com/sctpl

[2020-02-03 08:44] lgrahl commented on #104
Even though it's usrsctp-based, RAWRTC often behaves very different than browsers. So, I can't provide a definitive answer but it's probably worth a try? Keep in mind that Chrome uses an outdated usrsctp version and IIRC they don't even handle abandoned messages, so you'll likely end up with garbled messages sometimes. Anyway, I can give you pointers if needed.

[2020-02-03 18:01] mturnshek commented on #104
@Sean-Der Does this mean the data channels don't close when testing with Chrome with webrtc debug logs enabled?

[2020-02-04 16:28] tuexen commented on #104
@Sean-Der I took a look at the trace files you provided.

One strange thing I observed is that the file `intoChrome.pcap`, which actually should contain all packets sent by your implementation, I think, only contains every other (or so) DATA chunk.

Looking into the concrete problem (only using the last 4 decimal digits for the TSNs):

Your implementation is sending at the end of the tracefile:
*

[2020-02-05 03:24] mturnshek commented on #104
I don't know how helpful this will be for resolving, but I've collected some stats on when data channel closing seems to occur to find out if there was some set of supported conditions our production use can lean on.

I tested locally using modified versions of the gists Sean shared in the OP, using `comcast` to introduce varying packet loss and ~150ms latency on loopback.

Data points where I did

[2020-02-05 11:01] tuexen commented on #104
Assuming that my analysis is correct and there is a bug in the Pion SCTP stack as I described, then you will not observe is for small messages. The larger the message size, the more likely you run into this issue. I'm also not sure if all instances of such a bug will be caught by usrsctp. If needed I can see how pedantic usrsctp (or the FreeBSD implementation) is by writing some packetdrill script

[2020-02-05 16:26] enobufs commented on #104
Thank you @Michael Tuexen <Michael.Tuexen@lurchi.franken.de>  Now, I feel
more confident that fixing FWD-TSN to point to the end of fragments would
fix the issue. (I wasn't fully aware of A3 of RFC 3758
<https://tools.ietf.org/html/rfc3758#section-3.5> as a suggestion to how
TSN is forwarded).

@Sean DuBois <sean@pion.ly> I have some ideas for the fix.  Would you like
me to take over this tho it w

[2020-02-05 19:35] Sean-Der commented on #104
Oh that is fantastic, thank you so much @tuexen! I didn't even question the TSN that the forward TSN was picking.

@enobufs if you have the bandwidth! Would you be ok if I just updated the code in `FORWARD TSN` that picks the TSN? For now I am just going to make it only select a DATA chunk that is a beginning packet.

w/e you have time we can do a deeper fix :) but please no rush!

[2020-02-05 19:44] Sean-Der commented on #104
I can just add a `if !beginningFragment` [here](https://github.com/pion/sctp/blob/master/association.go#L1466)

[2020-02-05 20:07] enobufs commented on #104
Of course - no problem. I will catch up with you this w/e!

[2020-02-08 13:20] AeroNotix commented on #62
@chrisprobst could you share any results of using the latest Pion versions in your use-case? I have a window to update the versions I use in production and would love to know how much better things perform.

[2020-02-09 10:19] enobufs commented on #104
With the current master branch, I was able to repro the Protocol Violation error with Chrome, packet loss ratio ~ 4%, 32KB per message.

I tried the 585060f, but it stalls in about 10 seconds. By not advancing `advancedPeerTSNAckPoint`, it would stop generating Fwd TSN packet, which would result in leaving abandoned packets in the inflight queue forever because SACK will never get received for the

[2020-02-09 10:33] enobufs commented on #104
This made me realized that advancing TSN to the end of the last fragment of a large message is not practical because the message size could be much larger than the current cwd (which could be as small as 1 MSS (1280 B), the rest of the fragments may not even have TSN assigned yet.

I also noticed, way before the abort occurs, we have been sending Fwd TSN chunk which advances the TSN to the chunk t

[2020-02-09 10:53] enobufs commented on #104
Let me take that back.  Fwd TSN does not need to point to the TSN that would be the end of the chunk. It can be the last fragment that has TSN (it does not have to go beyond the inflightQueue).  Important think (I believe) is to make sure that the residual fragments in the pending queue has to be removed also, so that pion/sctp would not send the tailing chunks that wouldn't have the "beginning" c

[2020-02-10 06:40] enobufs commented on #104
I am still working at this, but I am seeing Chrome stop advancing cumulative TSN, and advertized RWND is being zero!

I am using partial reliability, unorder remix being 0 (no retraminsmits), forcibly dropping packets at 4%... Each message is 32KB, fragmented into 28 chunks always.

[code]

@tuexen Do you have any thoughts?

The above log shows two chunks in the inflight queue (TSN=2935603295, and

[2020-02-10 12:02] enobufs commented on #104
@tuexen @Sean-Der
I think I found the cause of the `a_rwnd=0` I mentioned above, which could be the root cause of the protocol violation we saw earlier.

Forward TSN chunk has the new cumulative TSN ack point, as well as a set of stream identifiers, or SI and a stream sequence number, or SSN.

I noticed, Fwd-TSN pion/sctp sends occasionally have the SI/SSSN field empty.  This was caused by a race

[2020-02-10 12:13] tuexen commented on #104
@enobufs For unordered messages you don't fill in the SID/SSN fields, since the SSN is irrelevant for unordered messages.

[2020-02-10 12:35] enobufs commented on #104
@tuexen  Ah right, I was using 'ordered'.

Even tho SSN is relevant in 'unordered', SI is useful when handing the FwdTSN to the "stream" layer.

In usrsctp, are you sure it does not use SI value in 'unordered'?   I saw the Chrome side stall with a_rwnd=0 also with unordered chunks.  I can say "a_rwnd=0" happens right away with 'ordered' traffic with the empty SID/SSN fields.

[code]

`This field M

[2020-02-10 13:40] tuexen commented on #104
I agree that the text is not optimal... However, the intention is that you list for ordered messages the SID/SSN pair, for unordered nothing. It has the be like this, because the receiver has no idea what was sent ordered or unordered. So it can't know if a SID only is listed or an SID/SSN pair.

See the loop at [sctp_output.c:11052](https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netine

[2020-02-10 22:13] enobufs commented on #104
Yes, it can. If you have SID, the stream layer with the SID would know which one it is expecting.

It's too bad, I thought sending a SID/SSN pair always really helps to forward the fwdtsn to appropriate stream layer, made sense. @tuexen you are the co-author of the RFC, and usrsctp, pion/sctp needs to modify how to handle it accordingly.

I saw [this line](https://github.com/sctplab/usrsctp/blob/m

[2020-02-11 06:25] enobufs commented on #104
Sorry... never mind. The error code was `SCTP_FROM_SCTP_INDATA + SCTP_LOC_7` (30000007).  So, that is not it.  Now, in my fix, FwdTSN always points to a chunk with B = 1. I no longer see the error.

[2020-02-11 07:40] enobufs commented on #104
I have double-checked, with **unordered** data channel, if the sender (pion) sends fwdtsn chunk without SID/SSN pair, Chrome stops processing inbound data and receive buffer gets exhausted (a_rwnd = 0).

[2020-02-11 10:49] tuexen commented on #104
This is only true for the use case of WebRTC... In SCTP, the ordered / unordered property is not a property of the stream, but a property of the user message. Therefore, an SCTP receiver doesn't know. Only WebRTC (an upper layer from the perspective of the SCTP stack) sends all user messages of the same stream with the same property.

As I said: With I-DATA you get message identifiers and reports

[2020-02-11 10:55] tuexen commented on #104
Shouldn't the `New Cumulative TSN` you put in the `FORWARD-TSN` be be the `TSN` of the chunk with the `E`-bit set (the last fragment of the abandoned user message)?

[2020-02-11 10:57] tuexen commented on #104
Please set the `New Cumulative TSN` correctly (see my earlier response). If the problem persists, can you provide a `.pcapng` file showing the SCTP packets?

[2020-02-12 02:16] yutakasg commented on #104
Oops, yes I meant E=1. I want to check with packets on the wire too. I will try to get pcap and share that with you. Thanks @tuexen for your support. Really appreciated.

[2020-02-12 17:43] mturnshek commented on #104
So I tested out this branch:
https://github.com/pion/sctp/tree/disable-forward-tsn

This is supposed to disable forward TSN, which supposedly is the root cause of the issue.

and noticed that we still receive an ABORT when I introduce packet loss. The channel errors with the following message:
`"channel error [0xc0003729c0] Abort chunk, with following errors: "`

This makes me believe there's anot

[2020-02-13 10:22] lgrahl commented on #104
@mturnshek I have read @tuexen's mind and he is about to ask you for a PCAP file in order to investigate. :slightly_smiling_face:

[2020-02-13 10:35] tuexen commented on #104
@lgrahl did it correctly...

[2020-02-14 03:06] mturnshek commented on #104
I'm still figuring out how to get a .pcapng with the unencrypted SCTP packets.

In the meantime, maybe it will be helpful if I provide Pion logs? Here are two log traces of the failure, with `PION_LOG_TRACE=all` enabled.

This does not occur when I am logging with Chrome, or have chrome://webrtc-internals open.

I can reproduce this consistently by introducing 5-10% packet loss with the initial ex

[2020-02-14 10:48] tuexen commented on #104
You could add to PION a routine like https://github.com/sctplab/usrsctp/blob/master/usrsctplib/user_socket.c#L3385
From that text output one can generate a .pcapng file using https://github.com/nplab/WebRTC-Data-Channel-Playground#3-extract-sctp-information-from-logfile and https://github.com/nplab/WebRTC-Data-Channel-Playground#4-text2pcap.

Will look at them.

[2020-02-15 09:57] enobufs commented on #104
@tuexen I have captured SCTP packets in two pcapng files.

## What I am doing:
* Using my revision (not pushed yet) of pion/sctp that sends Fwd TSN with new cumulative TSN always points to the end of chunk (E-bit = 1).
* Sending many 32GB messages from pion to chrome
* Randomly dropping packet (by skipping writes to DTLS layer in the code) at 8% ratio. (the dropped packets won't appear in the pcap

[2020-02-15 19:29] tuexen commented on #104
I'm confused. My understanding was that we are looking at a case where Pion is sending data towards usrsctp. So the SACKs would be received by Pion. You are referring to lines stating that SACKs are being sent. Is that a different issue?

[2020-02-15 20:28] tuexen commented on #104
I looked at the tracefile without the sidssn pair, since it is the correct way for unordered data. Observations:

- I don't know what triggers the sending of the FORWARD-TSN chunks, but that is irrelevant for the receiver.
- I don't understand why you are doing window probing by retransmitting DATA chunk when the maximum number of retransmissions is zero. But the is also irrelevant for the receive

[2020-02-15 22:56] enobufs commented on #104
@tuexen Thanks for your time and comments

Yeah, good point.  When a package is large and cwnd is small, later fragments of a message are still in the pending queue (chunks that are not sent yet and do not have TSN assigned yet). When time comes to abandon an earlier fragment, there are two options in that situation:

(1) Discard all fragments in the inflight queue as well as the pending queue.
(2

[2020-02-17 01:21] enobufs opened #106 "Forward TSN for unordered DATA chunks from usrsctp wouldn't discard chunks in the reassembly queue"
### Your environment.
  - Version: v2.1.18
  - Chrome: Version 80.0.3987.106 (Official Build) (64-bit)
  - Firefox: 73.0

### What did you do?
Sending many 32GB messages over data channel with unordered and max retransmits set to 0. Forcibly dropping packets at 4% ratio.

### What did you expect?
Pion to continue receiving messages despite some message loss.

### What happened?
Pion stop receiving

[2020-02-17 02:25] enobufs commented on #106
The commit 3142344 fixes this issue.
Now inbound Fwd TSN for unordered chunks are correctly purged from the reassembly queue, and confirmed with Chrome and FIrefox that the traffic flows without recvbuf exhaustion.

[2020-02-18 20:28] #106 closed

[2020-02-18 20:30] enobufs commented on #104
I will look into the report made by @mturnshek later. Reopening this.

[2020-02-19 02:55] enobufs opened #109 "Bug in T3-rtx timer getting in busy loop at 63rd timeout"
### Your environment.
  - Version: v1.7.4

[code]

### What did you do?
Use a data channel, then close a receiver abruptly (ctrl-c, etc) and leave the sender running for about an hour.

### What did you expect?
The sender should keep retransmitting on T3 timeout at the maxRTO = 60 sec. Or, ICE should detect the disconnection and the sender should also disconnect. (the former is the bug to address,

[2020-02-19 03:01] enobufs commented on #109
@Sean-Der @hugoArregui A quick question.  When ICE detects the disconnection (in 30 sec if I remember correctly after the remote node silently goes away), would DTLS be supposed to close the connection?

[2020-02-19 16:24] #109 closed

[2020-02-21 02:40] enobufs opened #112 "Broken debug log: "readLoop exited EOF %!s(MISSING)""
### Your environment.
  - Version: v1.7.4

A debug log is broken:
[code]

[2020-02-23 09:06] enobufs commented on #104
@tuexen check this out:
https://gist.github.com/enobufs/e1f1b236e8fb188d3bbe71a266fa566e

[2020-02-23 12:48] tuexen commented on #104
Thanks for the information.

[2020-02-24 21:25] enobufs commented on #112
The cause: rev 37f4ae92:
[code]

Should be:
[code]

[2020-02-24 22:12] #112 closed

[2020-02-25 23:05] cohosh opened #114 "Race condition for chunkmap access in payloadQueue"
### Your environment.
  - Version: v1.7.5
  - Browser: N/A (Snowflake)
  - Other Information - see Tor ticket [#33211](https://trac.torproject.org/projects/tor/ticket/33211)

### What did you do?
There are more details in the ticket, but we found our application going into a CPU-intensive infinite loop. Profiling pointed us towards the `markAllToRetransmit` function in payload_queue.go: https://gi

[2020-02-26 07:30] enobufs commented on #114
@cohosh   Thanks for your report and the PR.
I recently fixed a bug (#109) that was causing 100% CPU usage which was fixed in v1.7.5. Looking at the Tor ticket #33211, at the very bottom, I see the identical logs reported in #109 and I am wondering if that has already been solved...

You reported above that your environment was pion/sctp v1.7.5 which is supposed to have the fix.  Could you please

[2020-02-26 08:57] Sean-Der commented on #114
Hey @cohosh @enobufs!

I tagged [v2.2.1](https://github.com/pion/webrtc/releases/tag/v2.2.1) I am working on profiling stuff (ICE performance) and coincidentally tagged it.

thanks!

[2020-02-26 13:53] cohosh commented on #114
Hey @enobufs I think you're right. I wasn't actually able to reproduce the bug myself using the latest version. I'm guessing this is the issue. Thanks for that!

[2020-02-27 08:22] enobufs commented on #114
@cohosh Let me close this case.  (If it happens with pion/sctp@v1.7.5, please reopen this.)

[2020-02-27 08:22] #114 closed

[2020-02-27 10:31] enobufs commented on #104
I noticed, using pion/sctp v1.7.5, unordered, sending 32KB messages to Chrome over lossy connection at 4% with RTT 200ms delay (using comcast), Chrome sends an Abort chunk after a while, but this time (with v1.7.5), the error cause was "No User Data" (code: 9).

I found a bug in association.go that causes a DATA chunk with 0-length user data spilled out on wire when SACK and T3-rtx timeout occurs

[2020-02-28 07:57] #104 closed

[2020-02-28 08:06] enobufs commented on #104
@mturnshek I have merged #116 and tagged v1.7.6.  Are you able to try to repro the Abort with pion/sctp@v1.7.6?  I saw Abort from Chrome (as mentioned above) but the error cause of "No User Data", wasn't "Protocol Violation". It may just be two different manifestations of the same cause (hopefully), but there could be another issue that doesn't seem to happen in my environment.

[2020-02-28 14:08] mturnshek commented on #104
I will test 1.76 today and report here.

[2020-03-16 01:21] mturnshek commented on #104
@yutakasg I'm very late here, but I have finally tested this and experienced no connection breaks even with 75% packet loss. There are some interesting results I have where `pc.oniceconnectionstatechange = e => log(pc.iceConnectionState)` quickly fires "disconnected" and then "connected" at above 75% packet loss.

But even when that happened, reliable messages eventually found their way!

Truly aw

[2020-03-17 23:21] enobufs commented on #104
@mturnshek That's great news! Thanks for running the test and letting us know!

[2020-06-16 07:32] Sean-Der opened #124 "Add fuzz testing"
https://github.com/pion/dtls/blob/master/fuzz.go is a good place to start

[2020-06-18 08:52] enobufs commented on #62
I think this is done. Closing.

[2020-06-18 08:52] #62 closed

[2020-06-19 16:01] backkem opened #125 "Support DTLS-over-SCTP (RFC 6083)"
See [mail thread](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/pion/h05qd3cOVg0/eoexTyW4BQAJ).

[2020-07-03 06:42] Sean-Der opened #129 "Race found in travis-ci"
Just from auto updating a lib https://github.com/pion/sctp/pull/128

[code]

[2020-07-06 02:22] at-wat opened #131 "Data race in TestRtxTimer"
https://travis-ci.org/github/pion/sctp/jobs/703902333
[code]

[2020-07-06 02:24] at-wat commented on #131
duplicated

[2020-07-06 02:24] #131 closed

[2020-07-06 09:32] #129 closed

[2020-07-31 08:04] enobufs opened #138 "Data channel hangs over a lossy connection"
### Your environment.
  - Version: pion/sctp@v1.7.8 (pion/webrtc@v2.2.22)
  - Browser: n/a

### What did you do?
* Offerer: Chrome, answerer: pion (both on the same PC)
* One data channel with ordered=false, maxRetransmits=0
* Forced network impairment using [comcast](https://github.com/tylertreat/comcast): delay 100msec, packet loss 6%
* Start sending packets from pion to chrome:
    - Packet siz

[2020-08-03 03:49] enobufs commented on #138
I have noticed that DATA_CHANNEL_ACK message was not sent reliably and marked as "abandoned" immediately after the first transmission.

draft-ietf-rtcweb-data-protocol-09.txt in Section 6, says:
[code]

Clearly, pion/sctp's implementation needs to be correct.

[2020-08-03 03:55] enobufs commented on #138
The above fix did not solve the problem. Data channel still hangs, and Chrome still returns SACK with advertise receive window being 0.

[2020-08-03 04:19] enobufs commented on #138
@tuexen I have been working on this datachannel hang issue for a while, found multiple of bugs in pion, which was good. But now, I'm struggling to find the cause of this hang, and I hoping hear your thoughts/suggestions if possible.

The attachment (zip) contains two files:
* pion_chrome_01.pcapng
    - pcap file of sctp packets observed by pion/sctp. (inboud: 5000/udp, outbound: 5001/udp)
* dc-ha

[2020-08-03 06:57] enobufs commented on #138
I tried with Firefox and Safari but I have not been able to reproduce the hang with these browsers. (I did at least 10 times for each browser with the same settings; unordered, maxRetransmts=0, 2500B/msg).

Also, when I set unordered flag to false (ordered transmission), the does not happen with Chrome.
This may be a bug in Chrome... I am using Chrom Version 84.0.4147.89 (Official Build) (64-bit)

[2020-08-10 07:40] enobufs commented on #138
I used browsers instead of pion (the answerer side). The hang occurs with Chrome (offerer). It does not happen with Firefox nor Safari.

@tuexen I have to conclude that the hang I am seeing with data channel (unordered=true & maxRetransmits=0) is caused by **a bug in Chrome**, and Firefox also uses usrsctp, I guess the bug is in libwebrtc. (Does anyone know what user-space implementation of SCTP S

[2020-08-10 10:48] tuexen commented on #138
There were some bug fixes in this area which might not be in the version used by the browsers yet. Let me test this locally...

[2020-08-10 20:06] enobufs commented on #138
@tuexen In case it helps, here is what `navigator.userAgent` returns on my browsers:
### Chrome:
```Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36```

### Safari:
```Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.2 Safari/605.1.15```

The problem does not happen on my S

[2020-08-16 19:47] tuexen commented on #138
Can't reproduce the issue with the current master branch. Using
[code]
as the receiver and
[code]
as the sender. Using a packet drop rate of 2%. The transfer has a constant bandwidth for an hour.

[2020-08-17 07:30] enobufs commented on #138
@tuexen I was able to reproduce it using tsctp (current master)!  Occurrence ratio in the first 20 seconds is about 50% to me.  I was able to capture packets with wireshark and also console logs - attached.

Comcast command:
[code]

Receiver command:
[code]

Sender command:
[code]

In about 12 seconds, the sender receives SACK with a_rwnd=0 then it wouldn't recover.

I am using macOS (version 10.1

[2020-08-17 07:37] tuexen commented on #138
Using the latest sources?

[2020-08-17 07:38] enobufs commented on #138
Yes. Current master HEAD at rev: 31f4eb5.

[2020-08-17 07:56] tuexen commented on #138
OK. Will retest. I was testing on two FreeBSD based (slow) machines. That should not matter...

[2020-08-17 08:07] enobufs commented on #138
@tuexen I have been running test tests repeatedly and noticed when it happens, it happens within the first 10 seconds. If not it never happens in the next 50 seconds. So, it looks like the trigger is at the very beginning...
Also, occurrence is slightly higher with 4% packet loss than 2%...

[2020-08-17 09:13] tuexen commented on #138
@enobufs Are you applying the packet loss rate uni-directional (which direction) or bi-directional? I was applying the packet loss uni-directional such that only packets with DATA chunks (or FORWARD-TSN chunks) are affected, but not packets with SACK chunks.

[2020-08-17 09:39] enobufs commented on #138
Bi-directional and not targeted to a specific type of chunk. I am using [this tool](https://github.com/tylertreat/comcast) for the network impairment.

[2020-08-17 09:53] tuexen commented on #138
I'm using `ipfw` directly. Filtering on specific chunks is not yet supported, adding support to it is on my ToDo list (for a long time).

[2020-08-20 10:30] enobufs commented on #138
@tuexen I added some debug logs to the code to track how cum_tsn, new_cum_tsn (by ForwardTSN), size_on_reasm_queue (and a few others) are moving. Please find the attachment (zip) to this message which has the receiver side log in it.

I do not fully understand but `size_on_reasm_queue` starts accumulating (stop decreasing) with last decrement with this line:
[code]

After this line, DATA chunk wit

[2020-08-23 17:20] enobufs commented on #138
@tuexen Than's great news!

[2020-09-03 08:31] enobufs commented on #138
@tuexen I'm wondering if you'd like to me to create an issue in the sctplab/usrsctp as this is no longer a pion's issue?

[2020-09-03 09:46] tuexen commented on #138
Will work on it soon... My day job kicked in... If you prefer, you can move it over to usrsctp. It is not a bug in pion...

[2020-09-22 20:27] chrbsg opened #150 "sctp ERROR: ... stream 3 not found / with Firefox"
### Your environment.
  - Version: v2.2.25
  - Browser: Firefox
  - Other Information -

### What did you do?

Close peerconnection at end of session

### What did you expect?
No errors

### What happened?

Repeated errors like:

[code]

This does not happen with Chrome.

[2020-09-22 22:49] Sean-Der commented on #150
Thanks for reporting @chrbsg Are you closing the PeerConnection in Pion or FireFox?

My guess would be that the stream is reaped. But a routine internally is still trying to use it? I am not exactly sure, but this should be easy to enough to reproduce.

[2020-09-24 10:17] chrbsg commented on #150
The PeerConnection is closed in Firefox.

[2020-09-26 15:40] tuexen commented on #138
Here is a `packetdrill` script to reproduce the issue:
[code]
Now figuring out what is going wrong...

[2020-09-27 13:44] tuexen commented on #138
OK, I think the issue is fixed. The problem was that in `sctp_flush_reassm_for_str_seq()` the condition
[code]
is checking `fsn_included`, if it is not set to an appropriate value, but still has its default `-1`. Then it depends on the initial sequence number, if the conditions is true where it should not be true. The corrected version
[code]
avoids this problem.

Thanks a again for testing and re

[2020-09-28 06:45] enobufs commented on #138
@tuexen That's great news!  I am glad if this helped WebRTC community be a better place!

[2020-09-28 08:34] tuexen commented on #138
@enobufs If you want, you can close this issue. Up to you.

[2020-09-29 20:00] Sean-Der opened #151 "Should SourcePort and DestinationPort be set to 5000 in Init"
Currently these are hardcoded. Removed comments from code for Godox

[2020-09-29 20:01] Sean-Der opened #152 "Implement Shutdown Sequence"
Currently `Close()` doesn't implement the shutdown sequence.

[2020-09-29 20:02] Sean-Der opened #153 "Check RSN in handleReconfigParam"
Currently we don't process it

[2020-12-03 11:57] dosgo commented on #150
![image](https://user-images.githubusercontent.com/9545458/101015064-c66d7100-35a1-11eb-9bb1-2e8e8fc40a63.png)
dtls+sctp

[2020-12-04 09:50] dosgo opened #171 "stream does not support readFull"
The stream does not support the readFull method and will return a short buffer.

[2020-12-05 15:19] #171 closed

[2020-12-09 20:55] keks opened #173 "Documentation should be more clear about how to create a server"
## Summary

I would like to see better documentation around how to use this package.

I would write the docs if you tell me how this works.

## Motivation

It's not quite clear what kind of `net.Conn` you should pass into the `Server` function. Since this should be SCTP-over-UDP I expect it's the result of a `net.ListenUDP`. However, that conn will receive packets from all kinds of hosts, and I ha

[2020-12-09 21:24] Sean-Der commented on #173
Hey @keks

`Server` unfortunately only does a single connection. You will need to multiplex yourself, I usually use the 5-Tuple. This could be a really great example also! I don't think we should add the de-multixplexing code to this package itself though. We might already have it in github.com/pion/transport

It would also be good to make `examples/ping-pong` just a simple `go run...` the complex

[2020-12-10 22:01] keks commented on #173
Thanks for the quick response! Hm, I understand. Unfortunately I couldn't find anything in the transport repo.

I was hoping not having to write this myself, and would rather not commit to too much, since I need this for a recreational coding project :sweat_smile:. I'll give it a shot though. If anything comes out of this, I'd be happy to have it live in the pion code base, e.g. the transport repo

[2020-12-10 22:30] Sean-Der commented on #173
@keks awesome! If that is a big blocker I am sure I could code it up quickly. I would rather see you using Pion, then we get feedback/bug reports etc..

[2020-12-10 23:10] keks commented on #173
Sure, if that is quick to do for you, please go ahead! I undestand you'd rather maintain your own code :)

[2020-12-27 03:12] Sean-Der commented on #67
This is done!

We have centralized the control of our golangci-lint config, and it is enabled [here](https://github.com/pion/.goassets/blob/master/ci/.golangci.yml#L32)

[2020-12-27 03:12] #67 closed

[2020-12-28 18:25] Sean-Der commented on #138
Closing, it was great reading this back @enobufs :D

[2020-12-28 18:25] #138 closed

[2021-01-21 14:58] #78 closed

[2021-02-01 19:55] daonb opened #181 "Endless buffering of outbound traffic when network is loaded"
### Your environment.
  - Version: 1.7.11
  - Browser: iPadOS 14.3

### What did you do?

I developed a terminal server over pion/webrtc, using data channels to pipe input & output. Things work well on a clean network and on a mobile one. I even used netem to emulate high jitter scenario and all works well. Only when I use my home network - a small pipe with two zoom sessions going on in parallel

[2021-02-01 20:10] daonb commented on #53
I just filed #181 and am looking for ways to recreate it.  I'm thinking of using docker-compose to start two dockers: one to run a simple pion-based echo server with and the other with a browser test environment based on headless chrome & karma. Here's how I see the testing suite:

- set the network environment
- start the clock
- generate random traffic
- ensure it gets all the traffic back
- sto

[2021-02-14 20:44] enobufs commented on #181
@daonb That's what happens when you don't check [bufferedAmount](https://developer.mozilla.org/en-US/docs/Web/API/RTCDataChannel/bufferedAmount).
See: https://github.com/pion/webrtc/tree/master/examples/data-channels-flow-control#when-do-we-need-it

[2021-02-14 20:58] enobufs commented on #173
I hear you @keks. Current pion/sctp does not provide you with listen/connect semantics. I would like get #74 resolved some time soon.

[2021-02-14 21:05] enobufs commented on #150
This might be related to #176.

[2021-02-14 21:09] enobufs commented on #125
The discussion was about DTLS over the "transport layer" SCTP (not the "user space" SCTP for webRTC).  Let me close this issue.

[2021-02-14 21:09] #125 closed

[2021-02-14 21:11] enobufs commented on #181
Related topic: #77

[2021-02-18 10:14] daonb commented on #181
@enobufs thanks for the reply. I don't think that's the issue I'm seeing for two reasons:

* I have a very low data sending rate - < 1Kbps
* The channel compeletly stops sending data and doesn't resume even after congestion is cleared

I believe there's a bug in congestion recovery but I have no tests to prove it :-( To test it I need a client that can be in "buffering mode" where outgoing datagra

[2021-02-19 10:19] enobufs commented on #181
@daonb It's hard to debug without reproducible case... What I saw:

### Many data channels are used
[code]

### SACK stops coming in from the peer after 23:23:33.054958
Last TSN sack'ed was 903304684
But DATA chunk is coming in.
The log covers the last 23 seconds. During the time, total of 37 DATA chunks were received
[code]

### One T3-rtx timeout is in the log but it was the 5th RTO
[code]

Two

[2021-02-19 13:23] daonb commented on #181
Thanks for diving into this, I appreciate the help.  Here are the answers to your questions, followed by one question I have.

- How do use data channels?

I'm using pion for a backend - webexec - used by [terminal7](https://terminal7.dev) - a hybrid tablet app. Each terminal pane has its own data channel used to pipe data in & out. In addition there's one data channel used for control. The 37 inc

[2021-02-19 18:30] enobufs commented on #181
Looking at this line:
[code]
The retransmission on the log was the 5th attempt (nRtos: the number of retransmission timeouts) and the log you gave me only had the last 23 seconds. Pion/sctp implements backoff algorithm as RFC says, doubling the interval time every time T3-rtx expire, so that point, the interval was 32 seconds at least (depends on the measured RTT).

[2021-02-20 09:36] #152 closed

[2021-02-20 09:39] jeremija opened #182 "Implement Abort according to RFC 4960"
Currently the `Close` methods immediately closes the connection.

We should send an abort packet before closing the connection.

[2021-02-20 19:25] daonb commented on #181
Great! We've solved this.

IMO, the doubling of retransmission timeout is wrong for real time communications. I'm not saying you should change it, it's in the RFC:

I think the authors were too lazy here. TCP was made for file transfer, not real-time communication. Luckily, in C7 the RFC defines RTO.max which let's me limit the retransmission timeout.

Reading the code I learned we do have an `rto

[2021-02-20 20:41] Sean-Der commented on #181
@daonb we don't control those, I don't know if we can add stuff. Here are all the [values](https://www.w3.org/TR/webrtc/#dictionary-rtcdatachannelinit-members). Since we also compile to WASM mode it will cause portability issues.

I think the best thing we could do is create an issue against [webrtc-pc](https://github.com/w3c/webrtc-pc/issues) and see if there is any interest ideas. I would call o

[2021-02-20 20:41] enobufs commented on #181
It was the fifth retransmission got timed out, and the resulting retransmission also failed (I don't see SACK for it). Could you tell me why you'd think reducing max RTO would help? I think something else is going on.

We could make the max RTO configurable, but once a "pipe" is clogged, it usually takes a long time for the congestion to be cleared and I cannot think of any other way than the expo

[2021-02-24 16:54] daonb commented on #181
In the old TCP days everyone was transferring files so congestion at the edge router was common and the backoff made sense. It was a way to wait for other transfers to finish. Usually, large files were transferred in the background and the back off timer worked great. We didn't really care when the transfer ends as long as the magic happens and the files appear on the target server.

Today's conge

[2021-02-24 17:02] Sean-Der commented on #181
@daonb you can skip right to the PR even (and link to this issue in the commit). I am happy to merge this right away so you can get back to building :)

I would love to bring it up in the W3C. I bet lots of other devs are hitting it, they just don't understand this stuff at the level you are. Even in the WebRTC working group only a small subset of people understand SCTP.

[2021-02-24 17:10] daonb commented on #181
I would love to take it up with W3C. It's fun to be reminded of a products [I developed back in the '90s](https://www.arnnet.com.au/article/119710/runtcp_solves_bandwidth_problems/) and what the net was like back in the last millennium.

[2021-03-22 19:49] nerd2 opened #187 "Data channels do not fully close when close initiated from Chrome"
In my application where Pion is offering and Chrome is answering:
- Pion application starts a datachannel
- The Javascript in Chrome explicitly closes the datachannel
- Pion receives the datachannel onclose event
- But Chrome's data channel stays in the "closing" state and is never "closed".

Perhaps pion is not doing https://tools.ietf.org/html/draft-ietf-rtcweb-data-channel-13#section-6.7 correc

[2021-03-23 09:16] zyxar opened #188 "panic in Association.handleCookieEcho"
### Your environment.
  - Version: v1.7.9
  - Browser: N/A
  - Other Information
[code]

### What did you do?

We had one crash report this afternoon. The stack is pasted above.
Current project is using webrtc/v2, which uses sctp v1.7.9. But I checked new changes and don't see any addressed the issue above.

The panic line is `if !bytes.Equal(a.myCookie.cookie, c.cookie) {` in below `func`:
[code]

[2021-03-23 11:14] at-wat commented on #188
I reproduced the panic by adding a unit test. Will create a PR.

[2021-03-23 15:49] #188 closed

[2021-06-15 05:38] kylecarbs commented on #181
@enobufs I've found a case where this seems to consistently fail.

See https://github.com/cdr/coder-cli/pull/368

If you copy the data-channel to `io.Discard` on the server-side, the issue never happens.

https://github.com/cdr/coder-cli/pull/368/files#diff-62f8c8d3fb7e16200851008a80e52e4c000482ebe616712a6018431924c67866R333

[2021-06-15 18:13] kylecarbs commented on #181
I've isolated it further in this commit:

https://github.com/cdr/coder-cli/pull/368/commits/0dc0e56cfef10b2b1cb85603c2da7cd7e6a42a47

Uncomment the following line, and it works as expected:

https://github.com/cdr/coder-cli/pull/368/commits/0dc0e56cfef10b2b1cb85603c2da7cd7e6a42a47#diff-34c91981f059bb5d86d78bb53990a009247009fcfc946b00884b03f5c1a63d55R95

My assumption is there's a race condition so

[2021-08-04 09:54] sunfeilong opened #200 "What is the difference with Linux SCTP?"
I think RFC4960 is an OS layer protocol. But this repository use `net.Conn` to implement it. So I think this repository is not SCTP, Is anything the matter?

[2021-08-04 15:27] Sean-Der commented on #200
Hi @sunfeilong

This SCTP implementation was designed to be transport agnostic. The primary user is [pion/webrtc](https://github.com/pion/webrtc) but there is no reason you can't translate the messages to layer 3 with a `net.Conn` implementation.

[2021-08-04 15:27] #200 closed

[2021-08-05 02:38] sunfeilong commented on #200
@Sean-Der Tnahk you for your reply，I am looking for information about the sctp protocol.

[2021-08-10 05:49] gurupras opened #201 "Changing SCTP buffer size"
### Your environment.
  - Version: f1a4404f2c21f4b02ed7b05709a4362128964099
  - Browser: NA
  - Other Information:
<details><summary>Sender Logs</summary>
<p>

[code]
</p>
</details>

<details><summary>Receiver Logs</summary>
<p>

[code]
</p>
</details>

### What did you do?
I attempted to change `initialRecvBufSize` in `association.go` to a value larger than `1 * 1024 * 1024` and found that the d

[2021-08-25 04:49] renovate[bot] opened #202 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-10-01 20:42] ghost opened #204 "SACK chunks followed by other chunks are incorrectly handled."
Hi,

This is just a curtesy bug report.

You may be aware of `webrtc-rs/sctp`, which is a 1:1 Rust port of `pion/sctp`.

**Well I just submitted a [fix in their codebase](https://github.com/webrtc-rs/sctp/pull/6) that I believe also affects you.**

Basically, the handling of SACK chunks as it is written now incorrectly fails when two chunks are buffered inside the same packet. The fix is trivial:

[2021-10-01 20:59] Sean-Der commented on #204
Thank you so much @jkauffmann-legion! Really appreciate you took the time to file over here as well :)

I will work on porting that fix

[2021-10-11 02:58] leeliliang opened #206 "Datachannels have a great latency for poor network"
### What did you do?
Hi,
I test the signaling delay in a poor network with signaling round trip time, dataChannel has a poor performance compared to websocket and kcp.
rtt = recv(timestamp)-send(timestamp)
I use pion as a dataChannel server, and also P2p communication with web，the result also  behaved badly.
I'm confused, is sctp protocol has a poor performance in a poor network？

result:

![1](ht

[2021-11-09 18:41] Sean-Der commented on #206
Hey @leeliliang

I would check out https://github.com/w3c/webrtc-extensions/issues/71

I haven't looked into this issue myself, but other members of the Pion community are interested in it. @daonb is interested in this and @enobufs knows this area deeply as well

[2021-11-09 21:02] enobufs commented on #206
Interesting. I thought it was pretty comparable with TCP. Let me take a look this. @leeliliang could you tell me the data size for the heartbeat, also the delay in the path in your setup? (is that impairment simulated?)  I will try to reproduce it on my end.

Looks like max-RTO may need to be optimized. I am curious to know how aggressive kcp's retransmission is.  It's a congestion control, which

[2021-11-10 01:40] leeliliang commented on #206
H i @Sean-Der

[2021-11-10 02:36] leeliliang commented on #206
@Sean-Der
I am very glad for your reply , i am confuse this for long time.
Very grateful！

@enobufs
The data size is 593 byte, also test for another data size, larger the amount of data, the worse the performance.
Receiving the news immediately repented, and i did not set the delay in the path
The SCTP did not have Tail Loss Probe(TLP), so the last message send and lost, it must retransmission the

[2021-11-11 08:56] daonb commented on #206
hi @leeliliang and thanks for the detailed info. I use the data channels to stream a pty and I feel those spikes when I hit a key and in extreme cases, see it printed a minute later.

If happened quite a lot during the lockdown when my two daughters were zooming on my meager 2MB uplink copper wire. I did some research and I think SCTP can be improved. IMO, the exponential backoff doesn't belong in

[2021-11-12 08:28] enobufs commented on #206
@leeliliang

I found what was missing in pion/sctp. It's RFC 5827 - Early Retransmit for TCP and SCTP.
I was looking at Google's TLP, brilliant idea, which appeared to have turned into RACK (RFC 8985) later, but it is a solution specifically for TCP. TCP used to have an older solution called DUPACK threshold. RACK replaces it.  I don't know which algorithm was used in the TCP in your observation,

[2021-11-14 10:44] enobufs commented on #206
There were many experimental and proposed IETF drafts out there regarding the improvement of loss recovery including tail loss issue.
Here are some of the documents I went over... (in random order)

- SCTP Tail Loss Recovery - Tsvwg, IETF 90, Toronto (pdf)
- SCTP Tail Loss Recovery Enhancements, SCTP TLR (pdf slide)
- draft-dukkipati-tcpm-tcp-loss-probe-01
- Tail Loss Probe (romain-jacotin/quic)
-

[2021-11-15 08:40] leeliliang commented on #206
I think it is not necessary, but i am not sure about it,  deeper understanding is needed for me,  i think this problem will be alleviated, but not solve this problem.
In my opinion SCTP protocol need to optimize with some new mechanism in poor network.
Thank you for your efforts for this problem.

[2021-11-15 09:09] leeliliang commented on #206
yeap！@enobufs
I am glad to learn about so many new mechanisms.
Expect better performance！

[2021-11-16 03:13] #202 closed

[2021-11-18 12:14] daonb commented on #206
I agree. Maybe we can help.  The most important thing for such a mechanism is a good performance test and you started one. Please publish your code and I promise to help and make it into something we can use it to test different mechanisms and help the next draft author try his mechanism and prove his case.

[2022-03-26 01:43] iamcalledrob opened #218 "SCTP throughput ~8x slower than TCP when the connection has latency"
### Your environment.
  - Version: sctp v1.8.2
  - Other Information: tested between macOS<–>macOS and macOS<–>debian bullseye

### What did you do?

Test setup:
- Throughput tested with @enobufs's [sctptest](https://github.com/enobufs/sctptest), dependencies updated to use the latest version of pion/sctp
- Latency controlled using macOS "Network Link Conditioner"
- Tested between separate physica

[2022-03-26 01:50] iamcalledrob commented on #218
I found this issue from a few years back which looks potentially related? https://github.com/pion/sctp/issues/62

[2022-03-27 18:42] Sean-Der commented on #218
Fantastic testing @iamcalledrob thanks for reporting!

I don't know the latest but @enobufs mentioned he was looking at adding RACK to the implementation. Maybe some other things exist that we can do in the short term? I defer to him on what the best thing to do is :)

[2022-03-27 20:01] enobufs commented on #218
@iamcalledrob Thanks for the detailed report. As I mentioned in #62, a modern TCP implementation [automatically adjust receive buffer size](https://wiki.geant.org/display/public/EK/TCP+Buffer+Auto+Tuning), while pion/sctp uses a fixed buffer size, which is currently set to 1024KB. The receive buffer size sets the hard limit for the amount of data inflight (or the un-ack'd segments). It appears the

[2022-03-28 17:39] iamcalledrob commented on #218
@Sean-Der, @enobufs Thank you both for looking into this!

@enobufs regarding the buffer size, I was curious about that as well and decided to do some more testing!

I benchmarked the effect of changing the buffer size via your `sctp-test` utility—i.e. `sctp-test -network udp -b N`. I believe this sets both the read and write buffer sizes to 'N bytes' on the SCTP association as well as the underly

[2022-03-29 22:18] enobufs commented on #218
That indicates there would be another limiting factor. From my quick glance, the sender's congestion window kept growing during the 10 sec period but it appears too slow.  I may be wrong. Let me look at this later more carefully.

[2022-04-03 02:56] enobufs commented on #218
I just found a bug in sctptest. The value with the `-b` option for the server does not propagate down to pion/sctp :( .

What's going on is, the client side should have a ssthresh (slow start threshold) which should initially be set to the receive buffer window advertised by the peer. This value did not change even though I was increasing the value with `-b`, then found this bug.  I will fix it sh

[2022-04-03 09:32] enobufs commented on #218
After fixing the above in sctptest, I was still seeing the throughput was still capped at 1MB receive buffer size. (increasing the size beyond 1MB had no effect).

sctptest RTT=300ms
<img width="366" alt="Screen Shot 2022-04-03 at 1 40 29 AM" src="https://user-images.githubusercontent.com/930777/161419854-16b972c2-2c32-4fbe-a743-555cf75960da.png">

From the trance log, I noticed that even though t

[2022-04-03 19:50] enobufs commented on #218
Follow updates have been made:
* go-rudp v0.0.3
* sctp-test v0.0.2

TODO:
* pion/sctp: exclude inflight size from bufferedAmount

[2022-04-19 22:02] iamcalledrob commented on #218
Thank you for looking into this! I'm excited to see what the throughput looks like when inflight size is excluded :)

[2022-04-20 01:21] iamcalledrob commented on #218
With your updated version of go-rudp/sctp-test (passing buffer size into pion/sctp assoc), I see *dramatically* better throughput.

For the curious:

| RTT | Recv buffer size | Throughput |
| --- | --- | --- |
| 20ms | 1MB | 370Mbps |
| 20ms | 2MB | 700Mbps |
| 20ms | 4MB | 880Mbps |
| --- | --- | --- |
| 50ms | 1MB | 150Mbps |
| 50ms | 2MB | 300Mbps |
| 50ms | 4MB | 590Mbps |
| 50ms | 8MB | 800Mb

[2022-04-20 04:39] Sean-Der commented on #218
That's so exciting! Nice work @iamcalledrob and @enobufs :)

We should add this to the `SettingEngine` today and publish the findings!

[2022-04-20 22:11] enobufs commented on #218
@Sean-Der I think it is a brilliant idea to allow changing the send/recv buffer size from the SettingEngine as I think it may take sometime for us to implement auto buffer size tuning.

[2022-05-01 17:27] enobufs opened #225 "User Initiated Abort (cause code: 12) not handled"
### Your environment.
  - Version: pion/sctp@v1.8.2
  - Browser: Chrome Version 100.0.4896.127 (Official Build) (x86_64)

### What did you do?
Performed close() on a peer connection, from Chrome to pion, after sending a set of data over a data channel.

### What did you expect?
No warning in the log.

### What happened?
This line was seen on the pion side:
[code]

I did not see this warning when t

[2022-05-01 17:47] enobufs commented on #225
@jeremija has already implemented this in #182. Let me follow up on the PR.

[2022-05-01 17:50] enobufs commented on #225
FYI: From my quick investigation, User-Initiated Abort Reason field Chrome sent contained "Close called".
[code]

[2022-05-01 17:52] enobufs commented on #182
@jeremija My apologies for my long absence. I'd like to help resolving this. Let me review the PR.

[2022-05-01 18:44] enobufs commented on #103
This will be addressed once #183 lands.

[2022-05-11 03:00] #182 closed

[2022-05-11 03:02] enobufs commented on #225
Fixed by #183

[2022-05-11 03:02] #225 closed

[2022-05-20 23:06] adriancable commented on #218
@iamcalledrob / @enobufs - did this end up as a PR? If so, I can't find it. :-O

Very happy to help review this & get it merged.

[2022-10-13 08:47] jerry-tao opened #239 "Remove the pending buffer after the data channel call close() by either side."
## Summary

Remove the pending buffer after the channel is closed by either side.

## Motivation

Please refer to #238

## Describe alternatives you've considered

In the official WebRTC code, all pending data will be clear after the data channel call close() by either side.

But the SCTP RFC does not suggest so.  The chrome will ACK the closing channel data too.

Based on @enobufs 's work, here i

[2022-10-14 06:08] enobufs commented on #239
Not true.
W3C spec says in [6.2.4 Closing procedure](https://www.w3.org/TR/webrtc/#closing-procedure):
[code]

But `Chrome` does not seem to bother sending the pending data **when the remote data channel has already called "close()"**.

[2022-10-15 05:10] #187 closed

[2022-10-15 19:26] nerd2 opened #240 "SCTP Streams have no SetReadDeadline"
## Summary

SCTP Streams have no SetReadDeadline and so timeouts cannot be implemented

## Motivation

Most connections (net.Conn, net.PacketConn) in Go allow "SetReadDeadline" so a read timeout can be implemented by the caller.

## Describe alternatives you've considered

Application can reimplement using a separate receive goroutine and channels, but it would be nice to support this in the libra

[2022-10-18 05:23] enobufs opened #242 "Race in TestStreamClose introduced by the previous merge"
TestStreamClose in vnet_test.go causes a race during the test. The test was updated by the previous merge, race is occurring over an error object.  Renaming the object in a goroutine would fix the race.

[2022-10-18 05:30] #242 closed

[2022-10-18 05:42] #240 closed

[2022-10-18 06:20] jerry-tao commented on #239
@enobufs You are right, I made a mistake in my test code.

So the only change should be:

- If received reconfigs with outgoingReset, clear sending pending buffer.

[2022-10-18 09:09] enobufs commented on #239
I found myself still debating whether the pending buffer should be discarded OutgoingResetRequest was already received. Remote sent OutgoingResetRequest ("I am not going to send any more") but not IncomingResetRequest ("please stop sending any more"). I can see RFC8831/6252 had a graceful shutdown (e.g. shutdown(SHUT_WR)) in mind.

Interoperability with browsers is important but Pion does not need

[2022-10-18 09:29] jerry-tao commented on #239
Yes, I agree with you that OutgoingReset should only mean shutdown() rather than close.
But in the official lib, the usrsctp does not buffer anything, the SctpTransport only buffer one message, and the real buffer is in data channel.
It's datachannel.close(), not sctpTransport.close(), but in pion, this part of function is built in sctp.
As for me, there is a way I can cancel sending buffer data i

[2022-10-18 10:02] jerry-tao commented on #239
Here are my thoughts,
- The outgoingReset happened in sctp.Stream level, so they could and should keep sending the data until it has no data to send.
- The data channel, on the other hand, defines a closing procedure about what it should do when it receives an outgoingReset.
I think the best way is "clear data channel's buffer when data channel closed remotely since no one will receive the data".

[2022-10-20 06:02] enobufs commented on #239
Let us consider implementing stream.CloseWrite() in the future if a graceful shutdown is desired.
For now, stream.Close() should close both outgoing (send OutgoingResetRequest) and incoming (set readErr non-nil). If onInboundReset() has already been called, discard the stream's user data in the pending buffer.

Does this diagram make sense to you?

[code]

[2022-10-21 09:19] jerry-tao commented on #239
How about moving cache and close logic to datachannel?
In fact, when we talk about close we are talking about data channel close, the sctp rfc didn't define stream close either.

[2022-10-26 09:45] jerry-tao commented on #239
@enobufs I have tried to implement the discard logic as you say,  [A](https://github.com/jerry-tao/sctp/tree/wip), [B](https://github.com/jerry-tao/sctp/tree/wip-2).

- A: Discard the pending buffer when it popped.

- B: Move the buffer from association to stream.

Only for demonstration, please tell me which one is your preferred, and I will keep working on it.

[2022-10-29 19:03] enobufs commented on #239
Hi Jerry,

Sorry for my late response. I was too busy over the last week...

Good call. I was thinking about the option "B" too. This buffering is for WebRTC API and I believe it does not even belong to SCTP stream. (Relates to #77)  We'd need to carefully think about potential risk / drawbacks also.

What is your preference?

One little favor to ask you.. Could you please create two PRs (the opti

[2022-11-04 06:44] jerry-tao commented on #239
I have created PR #245 and #246 .

I prefer Plan A too, small change, easy to implement.

After finishing this we could add buffer to datachannel first. I will try to finish #245 recently.

[2022-11-05 21:18] enobufs commented on #239
Thanks for sharing your opinion. Let's focus on the plan A.

[2022-11-18 09:42] #239 closed

[2022-11-20 09:08] stv0g commented on #239
@enobufs Just wondering: could it be that this PR (commit c0159aa2d49c240362038edf88baa8a9e6cfcede) introduced a regression which makes the unit-test `TestAssociation_Shutdown` fail?

See https://github.com/pion/sctp/actions/runs/3495811764/jobs/5852996166

[2022-11-20 21:45] enobufs opened #250 "Potential regression by a commit c0159aa in causing `TestAssociation_Shutdown` to fail"
@enobufs Just wondering: could it be that this PR (commit c0159aa2d49c240362038edf88baa8a9e6cfcede) introduced a regression which makes the unit-test `TestAssociation_Shutdown` fail?

See https://github.com/pion/sctp/actions/runs/3495811764/jobs/5852996166

_Originally posted by @stv0g in https://github.com/pion/sctp/issues/239#issuecomment-1321076117_

[2022-11-20 21:47] enobufs commented on #250
Hi @jerry-tao, @stv0g, are you able to repro this in your environment?  The error does not happen to me... :(

[2022-11-21 03:33] jerry-tao commented on #250
I did not reproduce it either, will dig deeper this week.

[2022-11-21 09:56] stv0g commented on #250
I just tested it again on the current master branch and the test succeeded.

But I see a possibly related PR #236

[2022-11-22 01:01] at-wat opened #251 "Expose error definitions"
`webrtc.DataChannel.OnError(err error)` often receives
- `abort chunk, with following errors: (User Initiated Abort: Close called)`.
- `sending reset packet in non-established state: state=Closed`

which seems be intended results. (Maybe by the recent updates?)

### Possible solutions
- Expose base errors (`var errErrorName` -> `var ErrErrorName`) for `errors.Is()`
- Define struct for errors with

[2022-11-24 01:12] at-wat commented on #251
#183 seems related

[2022-11-29 15:20] suconghou commented on #218
@enobufs

v1.8.2
poor performance than tcp in a tiny amount of packet loss or latency

does v1.8.3 fixed  `pion/sctp: exclude inflight size from bufferedAmount` ?
or improved it .